<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566979228305-pde8sovsgq9d4t90aof1cm5t6747l5d6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566979228305-pde8sovsgq9d4t90aof1cm5t6747l5d6</string>
	<key>API_KEY</key>
	<string>AIzaSyDRKBEAMY8olPfzvHbM7DfyhnTVRL9C-Pw</string>
	<key>GCM_SENDER_ID</key>
	<string>566979228305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emoji</string>
	<key>PROJECT_ID</key>
	<string>emoji-1cece</string>
	<key>STORAGE_BUCKET</key>
	<string>emoji-1cece.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566979228305:ios:2c48cb12c1dea6aa100530</string>
</dict>
</plist>